# ============================
# Global ignores (OS / IDE)
# ============================
.DS_Store
Thumbs.db
*.log
*.tmp
*.swp
*.swo

# IntelliJ / VSCode
.idea/
.vscode/
*.iml

# ============================
# Java / Spring Boot (backend)
# ============================
stock-system-backend/target/
stock-system-backend/.classpath
stock-system-backend/.project
stock-system-backend/.settings/
stock-system-backend/.idea/
stock-system-backend/*.jar
# Maven / Gradle
stock-system-backend/.mvn/
stock-system-backend/mvnw
stock-system-backend/mvnw.cmd
stock-system-backend/build/
backend/.gradle/

# ============================
# Node / React (frontend)
# ============================
stock-system-frontend/node_modules/
stock-system-frontend/dist/
stock-system-frontend/.vite/
stock-system-frontend/.cache/
stock-system-frontend/npm-debug.log
stock-system-frontend/yarn-error.log

# ============================
# Python / FastAPI
# ============================
stock-system-marketdata/app/__pycache__/
stock-system-marketdata/app/*.pyc
stock-system-marketdata/app/.venv/
stock-system-marketdata/app/venv/
stock-system-marketdata/app/.pytest_cache/
stock-system-marketdata/app/.mypy_cache/
stock-system-marketdata/function.zip
stock-system-marketdata/.env

# ============================
# Docker
# ============================
**/.dockerignore
**/Dockerfile~

# ============================
# Environment files
# ============================
*.env
*.env.local
*.env.development
*.env.production

# ============================
# Terraform
# ============================
*.tfstate
*.tfstate.backup
*.exe
*.tfvars
.terraform/

# ============================
# AI files
# ============================
*.aider.*